@import 'diagram-js/assets/diagram-js.css';
@import 'bpmn-font/dist/css/bpmn.css';
@import 'bpmn-font/dist/css/bpmn-embedded.css';
@import 'bpmn-font/dist/css/bpmn-codes.css';

@import './assets/odm.css';

html,
body,
#root,
#canvas {
  font-family: 'IBM Plex Sans', sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* Hacky classnames to dynamically control modeler styling */
.simulating .djs-hit-all {
  cursor: pointer;
}

.conformance .djs-hit-all {
  cursor: default;
}

.conformance .djs-element .djs-hit-stroke {
  cursor: default;
}

.simulating .djs-element .djs-hit-stroke {
  cursor: default;
}