{% if user_info %}
User information:
{{ user_info }}

{% endif %}
{% if user_data %}
Current case activity data in chronological order:
{{ user_data }}

{% endif %}

DCR process model:
{{ dcr_xml }}

Do not mention anything about the DCR process model.
Produce the neutral case summary now.
