Current case record in chronological order (contains legal exerpts and similar cases):
{% for entry in history %}
- {{ entry }}
{% else %}
- No case record supplied.
{% endfor %}

Current case activity trace in chronological order:
{% for execution in trace %}
- {{ execution }}
{% else %}
- No activity trace supplied.
{% endfor %}

DCR process model:
{{ dcr_xml }}

Do not mention anything about the DCR process model.
Produce the neutral case summary now.
